################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App1/bin
/App1/obj/Debug/net8.0
/App1/obj/Release/net8.0
/App1/obj
/App1/Properties/PublishProfiles
